:root {
  --light: #dfdcda;
  --dark: #2d2d2d;
  --pink: #efc4d5;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
  
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}
  
header {
  padding: 40px;
  text-align: center;
  background: var(--light);
  color: var(--dark);
}
  
nav {
  display: flex;
  background-color: var(--light);
}
  
nav a {
  color: var(--dark);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
  
nav a:hover {
  background-color: var(--pink);
  color: var(--dark);
}
  
main {
  display: flex;
  flex-wrap: wrap;
}
  
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  display:flex;
  background: var(--dark);
  color: var(--light);
  margin-top: auto;
}

footer a:hover {
  background-color: var(--pink);
  color: var(--dark); 
}

.about-me {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: justify;
  background: var(--dark);
  color: var(--pink);
  }

.selfie {
  float: left;
  margin-right: 25px;
  max-height:200px;
}

.my-work {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: justify;
  background: var(--light);
  color: var(--dark);
  flex: auto;
}

#container{
  border: solid 10px var(--dark);
  display: flex;
  flex-wrap: wrap;
}

.item{
  border: dashed 1px var(--dark);
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  footer{
    flex-direction: column;
  }
}
